.descricao-filme-principal {
    position: absolute;
    width: 50%;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 998;
}

.nome-filme-principal {
    font-size: 5rem;
    line-height: 5.5rem;
}

.infos-filme {
    display: flex;
    gap: 1.3rem;
    color: var(--cinza-claro);
}

.categorias-filme {
    display: flex;
    gap: 1rem;
}

.box-btn-mais-infos {
    display: flex;
    gap: 1.5rem;
}

p.principal-lancamento {
    display: flex;
    align-items: center;
    gap: .7rem;
}

p.principal-lancamento span {
    display: flex;
    color: var(--azul);
}

/* Fundo Home */
.fundo-degrade-esquerda {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: linear-gradient(260deg, transparent 10%, var(--background) 90%);
    z-index: 997;
}

.fundo-degrade-baixo {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: linear-gradient(360deg, var(--background) 10%, transparent 90%);
    z-index: 997;
}

.background-filme-principal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.img-filme-principal {
    width: 100%;
}

.img-filme-principal img {
    max-width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1450px) {

    .fundo-degrade-baixo,
    .fundo-degrade-esquerda {
        height: 90vh;
    }
}

@media screen and (max-width: 1350px) {

    .fundo-degrade-baixo,
    .fundo-degrade-esquerda {
        height: 80vh;
    }
}

@media screen and (max-width: 1150px) {

    .fundo-degrade-baixo,
    .fundo-degrade-esquerda {
        height: 70vh;
    }
}

@media screen and (max-width: 1050px) {
    .descricao-filme-principal {
        width: 80%;
    }

    .fundo-degrade-baixo,
    .fundo-degrade-esquerda {
        height: 100vh;
    }

    .img-filme-principal img {
        height: 100%;
    }
}

@media screen and (max-width: 750px){
    .nome-filme-principal{
        font-size: 4rem;
        line-height: 4rem;
    }

    .sinopse-filme{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px){
    .nome-filme-principal{
        font-size: 3rem;
    }
}