.conteudo-filme-principal {
    position: relative;
    height: 90vh;
}

/* Box Outros Filmes */
.box-outros-filmes {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 998;
}

.outros-filmes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}