@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* Cores Primarias */
    --background: #00030a;
    --background-light: #121720;
    --branco: #FFFFFF;
    --branco-40: rgba(255, 255, 255, .4);
    --cinza: #37393d;
    --cinza-claro: #999999;
    --cinza-escuro-65: rgba(10, 13, 20, .65);
    --cinza-escuro-85: rgba(30, 34, 40, 0.85);
    /* Cores Secundarias */
    --azul: #2068f8;
    --azul-40: rgba(50, 118, 255, .4);
    --amarelo: #fde610;
    --laranja: #D9580F;
    --lilaz: #980FD9;
    --rosa: #D90FC5;
    --roxo: #5C0FD9;
    --turquesa: #0FCDD9;
    --verde: #24D020;
    --verde-claro: #0FD990;
    --vermelho: #C72424;

    /* Textos */
    --texto-escuro: #00030a;
    --texto-claro: #FFFFFF;

    /* Fonte Weight */
    --font-extra-light: 200;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

html {
    /* Reseta fonte da página de 16px para 10 px */
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--branco);
    background-color: var(--background);
}

a {
    color: var(--branco);
    text-decoration: none;
}

a.btn-padrao {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1.8rem;
    padding: 1.7rem;
    border-radius: .5rem;
    background-color: var(--cinza);
    transition: .3s;
}

a.btn-padrao:hover {
    color: var(--texto-escuro);
    background-color: var(--branco);
}

a.btn-padrao.btn-card{
    font-size: 1.5rem;
}

.btn-padrao-favoritar{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .3s;
}

.box-icon{
    display: flex;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 5.55rem;
}

.btn-padrao-favoritar:hover{
    color: var(--azul);
}

.btn-padrao-favoritar.adicionado{
    color: var(--cinza-claro);
    cursor: auto;
}

.icon{
    font-size: 2rem;
}

.icon-favoritar{
    font-size: 3rem;
}

.btn-ver-detalhes-favorito{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    color: var(--cinza-claro);
    transition: .3s;
}

.btn-ver-detalhes-favorito:hover{
    color: var(--branco);
}

.btn-ver-detalhes-favorito.btn-excluir:hover{
    color: var(--vermelho);
}

img{
    width: 100%;
}

.container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2rem;
}

.header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-section a {
    font-size: 1.2rem;
    color: var(--cinza-claro);
}